* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Outfit', sans-serif;
}

/* COLOR */
:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Light-gray);
}

.outer {
    width: 28%;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    padding-top: 2.5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container img {
    border-radius: 4%;
    margin-bottom: 5%;
}

.outer h2 {
    color: var(--Dark-blue);
    max-width: 50%;
    display: flex;
    text-align: center;
    font-size: 30px;
    color: var(--Dark-blue);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.outer p {
    color: var(--Dark-blue);
    max-width: 50%;
    display: flex;
    text-align: center;
    font-size: 20px;
    color: var(--Grayish-blue);
    margin-bottom: 4rem;
}

.attribution {
    display: flex;
    margin-top: 3rem;

}